In [1]:
# P40 EX2
#產生串列(陣列), cnt[0], cnt[1], …, cnt[25], 用來記錄’a’,’b’,…,’z’的出現次數
cnt=[0 for i in range(0,26)]
sentence="This is a book. There is a bird in the Tree."
for c in sentence.upper():
  if c.isalpha():
    cnt[ord(c)-65]+=1
    
for i in range(0,len(cnt)): 
  print(chr(ord('a')+i),":", cnt[i], sep='', end=' ')

a:2 b:2 c:0 d:1 e:5 f:0 g:0 h:3 i:5 j:0 k:1 l:0 m:0 n:1 o:2 p:0 q:0 r:3 s:3 t:4 u:0 v:0 w:0 x:0 y:0 z:0

In [13]:
 # P40 EX3
recs='AB3CB@AB3A2BCACBBA@2A3BC4CA'
sp=recs.split('@')
price={
  'A':7,
  'B':4,
  'C':5
}
count=1
for i in sp:
  total=0
  for j in i:
    if p:=price.get(j):
      total+= p*count
      count=1
    else:
      count=int(j)

  print(f'{i} -> {total}元')

AB3CB -> 30元
AB3A2BCACBBA -> 72元
2A3BC4CA -> 58元

In [7]:
# P42 EX3
for i in range(1,10):
  for j in range(1,10):
    print(f'{i}x{j}={i*j}',end='\t')
  print()

1x1=1	1x2=2	1x3=3	1x4=4	1x5=5	1x6=6	1x7=7	1x8=8	1x9=9
2x1=2	2x2=4	2x3=6	2x4=8	2x5=10	2x6=12	2x7=14	2x8=16	2x9=18
3x1=3	3x2=6	3x3=9	3x4=12	3x5=15	3x6=18	3x7=21	3x8=24	3x9=27
4x1=4	4x2=8	4x3=12	4x4=16	4x5=20	4x6=24	4x7=28	4x8=32	4x9=36
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25	5x6=30	5x7=35	5x8=40	5x9=45
6x1=6	6x2=12	6x3=18	6x4=24	6x5=30	6x6=36	6x7=42	6x8=48	6x9=54
7x1=7	7x2=14	7x3=21	7x4=28	7x5=35	7x6=42	7x7=49	7x8=56	7x9=63
8x1=8	8x2=16	8x3=24	8x4=32	8x5=40	8x6=48	8x7=56	8x8=64	8x9=72
9x1=9	9x2=18	9x3=27	9x4=36	9x5=45	9x6=54	9x7=63	9x8=72	9x9=81

In [10]:
# P43 EX2
while True:
  a,b,c=sorted(map(int,input('a b c=').split()))
  if (a**2+b**2)==c**2:
    print('ok')
  else:
    print('illegal')
    break

a b c=3 4 5
ok
a b c=3 4 6
illegal

In [11]:
# EX5
def is_prime(n):
  for i in range(2, n):
    if n % i == 0:
      return False
  return True                 

n1,n2=map(int,input('n1 n2=').split())
if n1>=n2:
  n1,n2=n2,n1
for i in range(n1,n2):
  if is_prime(i):
    print(i,end=' ')

n1 n2=2 140
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139