In [ ]:
#1
from math import *
def f(x):
  if x>3:
    return x**2
  if 3>=x>=-3:
    return (abs(x))**0.5
  if x<-3:
    return x**5+2*x**4

x=list(range(-10,11))
for i in x:
  print(f'{i}= {f(i):.3f}')

-10= -80000.000
-9= -45927.000
-8= -24576.000
-7= -12005.000
-6= -5184.000
-5= -1875.000
-4= -512.000
-3= 1.732
-2= 1.414
-1= 1.000
0= 0.000
1= 1.000
2= 1.414
3= 1.732
4= 16.000
5= 25.000
6= 36.000
7= 49.000
8= 64.000
9= 81.000
10= 100.000

In [ ]:
#2
def gcdAll(listData):
  return gcd(*listData)

data = [ 2*3*3*5*7*7, 3*5*7*11*13, 2*2*3*3*5*5*7*7, 100*9*25*49]
GCD = gcdAll(data)

print("GCD_ALL=",GCD)

GCD_ALL= 105

In [ ]:
#2
from math import*
def gcdAll(listData):
  result=listData[0]
  for i in listData[1:]:
    result=gcd(result,i)
  return result

data = [ 2*3*3*5*7*7, 3*5*7*11*13, 2*2*3*3*5*5*7*7, 100*9*25*49]
GCD = gcdAll(data)

print("GCD_ALL=",GCD)

GCD_ALL= 105

In [ ]:
#4
def cnk(n,k):
  stage_u=[(n-i) for i in range(k)]
  stage_d=list(range(1,k+1))
  up=1
  down=1
  for i in stage_u:
    up*=i
  for i in stage_d:
    down*=i

  return up/down

cnk(100,10)

17310309456440.0

In [ ]:
#5
from datetime import datetime
from math import *
def isLeapYear(year):
  if year%4==0 and year%100!=0: #year不能被100整除
    return True
  if year%400==0:
    return True
  if year%1000==0:
    return True
  else:
    return False
# ------------------------------------------------------------------

def iThDays (y,m,d):   # 此日期是當年的第幾日 (由1/1算起)
  monthDays=[0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  if isLeapYear(y):
    monthDays[2]=29

  return sum(monthDays[:m])+d


# ------------------------------------------------------------------

def diffInDays(date1, date2):
  date1=datetime(int(date1[:4]),int(date1[4:6]),int(date1[6:]))
  date2=datetime(int(date2[:4]),int(date2[4:6]),int(date2[6:]))
  return date1-date2
# ------------------------------------------------------------------

monthDays=[0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

#  accDays = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
print(isLeapYear(2024))
print(iThDays (2024,1,2))    # 1998/7/7與2008/4/30差幾天
print(diffInDays('19980707', '20080430'))

True
2
-3585 days, 0:00:00

In [ ]:
def f(x,y):
  return x,y

a,b=f(1,2)
print(a,b)

1 2

In [ ]:
import datetime
print('All:', datetime.datetime.now())
print('Year:', datetime.datetime.now().year)
print('Month:', datetime.datetime.now().month)
print('Day:', datetime.datetime.now().day)
print('Weekday:', datetime.datetime.now().weekday())
print('Time:', datetime.datetime.now().time())

All: 2023-04-16 08:36:09.764512
Year: 2023
Month: 4
Day: 16
Weekday: 6
Time: 08:36:09.770172

In [ ]:
#6
import math

def printFrac(up, down):
  gcd=math.gcd(up, down)
  up=up//gcd
  down=down//gcd
  if abs(up)>=down:
    whole=up//down
    up=abs(up)%down

    if up==0:
      print(whole)
    else:
      print(f'{whole}+{up}/{down}')
  else:
    print(f'{up}/{down}')


def reduce(up, down):
  gcd=math.gcd(up, down)
  up=up//gcd
  down=down//gcd
  print(f'{up}/{down}')

up=60
down=36 	 # 表示分數 60/36
printFrac(up, down) 	 # 印出1+2/3
reduce(up, down)

1+2/3
5/3