In [1]:
#P22 EX1
point1 = input("請輸入第一個座標")
x1,y1 = map(int,point1.split())

point2 = input("請輸入第二個座標")
x2,y2 = map(int,point2.split())

a= x2-x1
b= y2-y1
distance = (a**2+b**2)**0.5
print(f'distance of ({x1},{y1}) and ({x2},{y2}) is {distance :.4f}')

請輸入第一個座標8 6
請輸入第二個座標15 -4
distance of (8,6) and (15,-4) is 12.2066

In [10]:
#P22 EX2
import math
first_name,last_name = input('First name,last name ').split()
height = float(input('Height(cm)'))
feet = math.floor(height/(12*2.54))
inch = height/2.54-(feet*12)

print("*** Report ***")
print(f'{first_name},{last_name} {feet},{inch:.1f}')

First name,last name Sam amy
Height(cm)201.5
*** Report ***
Sam,amy 6,7.3