In [13]:
a =13437077345
sum(map(lambda c:c=='7',str(a)))

3

In [17]:
cnt=[0 for i in range(0,26)]
sentence="This is a book. There is a bird in the Tree."

for c in sentence.upper():
  if ord('Z')>=ord(c)>=ord('A'):
    cnt[ord(c)-ord('A')] += 1
       
for i in range(0,len(cnt)):
    print(chr(ord('a')+i),":", cnt[i], sep='', end=' ')

a:2 b:2 c:0 d:1 e:5 f:0 g:0 h:3 i:5 j:0 k:1 l:0 m:0 n:1 o:2 p:0 q:0 r:3 s:3 t:4 u:0 v:0 w:0 x:0 y:0 z:0

In [8]:
h=5
for i in range(1,h+1):
  for j in range(1,i+1):
    print(j,end='')
  print()

1
12
123
1234
12345

In [9]:
h=5
for i in range(1,h+1):
  for j in range(1,h-(i-1)+1):
    print(j,end='')
  print()

12345
1234
123
12
1

In [18]:
h=4
for i in range(h):
  print("|",sep='',end='')
  for j in range(h-(i-1)-1):
    print(" ",sep='',end='')

  for j in range(i+1):
    print("*",sep='',end='')  
  print()

|    *
|   **
|  ***
| ****

In [12]:
total=0; maxno=50
studentNo = 0
for i in range(0,maxno):
  score = int(input("Imput score"))
  if score < 0: break
  studentNo+=1
  total += score
print(f'total={total}')
print(f'avg={total/studentNo:.3f}')

Imput score10
Imput score20
Imput score30
Imput score-1
total=60
avg=20.000

In [19]:
a,b =98,28
gcd = 1
bound = min(a,b)
for i in range(bound,0,-1):
  print(i)

28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
while True:
  a,b,c=map(int,input("Input a,b,c: ").spilt())
  small = min(a,b,c)
  large = max(a,b,c)
  mid = (a+b+c)-small-large